<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jwake.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Jmaketheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
        </activity>
        <activity
            android:name=".IntroScreen"
            android:label="@string/title_activity_intro_screen"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".MakeAccount"
            android:label="@string/title_activity_make_account" >
        </activity>
        <activity
            android:name=".activity_screen"
            android:label="@string/title_activity_activity_screen"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".EndTask"
            android:label="@string/title_activity_end_task"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".TaskInstructions"
            android:label="@string/title_activity_task_instruction"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ResultsScreen"
            android:label="@string/title_activity_results_screen"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".StruggleQuestionScreen"
            android:label="@string/title_activity_struggle_question_screen" >
        </activity>
    </application>

</manifest>
